@import "tailwindcss";
@plugin "daisyui";
*{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}


/* From Uiverse.io by Shakil-Babu */ 
.btn-primary {
 background-color: #00BFA6;
 padding: 14px 40px;
 color: #fff;
 text-transform: uppercase;
 letter-spacing: 2px;
 cursor: pointer;
 border-radius: 10px;
 border: 2px dashed #00BFA6;
 box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
 transition: .4s;
}

.btn-primary span:last-child {
 display: none;
}

.btn-primary:hover {
 transition: .4s;
 border: 2px dashed #00BFA6;
 background-color: #fff;
 color: #00BFA6;
}

.btn-primary:active {
 background-color: #87dbd0;
}

/* From Uiverse.io by ernestnash */ 
.btn-secondary {
 display: inline-block;
 padding: 0.6rem 1.2rem;
 font-size: 16px;
 font-weight: 700;
 color: black;
 border: 3px solid #00A8E7;
 cursor: pointer;
 position: relative;
 text-decoration: none;
 overflow: hidden;
 z-index: 1;
 font-family: inherit;
}

.btn-secondary::before {
 content: "";
 position: absolute;
 left: 0;
 top: 0;
 width: 100%;
 height: 100%;
 background-color: #00A8E7;
 transform: translateX(-100%);
 transition: all .3s;
 z-index: -1;
}

.btn-secondary:hover::before {
 transform: translateX(0);
}

